body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

.search-box {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-box input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
}

.search-box button {
  padding: 10px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.movie-card {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.3s;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.movie-card img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.movie-details img {
  width: 200px;
  margin: 20px auto;
}

.movie-details {
  text-align: left;
}